# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
.Python

# VS Code settings
.vscode/

# OS files
.DS_Store

# Data files
data/ # May temporarily turn off if changes to input/output file structures.